.invoice_container {
  font-family: Arial, sans-serif;
  max-width: 842px;
  height: 2220px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.main{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.print_button {
  width: 15rem;
  padding: .5rem;
}
.qrCode{
  height: 14rem;
}
.barCode{
   width: 14rem;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.block {
  width: 100%;
  letter-spacing: .5cap;
  font-weight: 700;
  overflow: hidden;
}
.invoice_details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.invoice_details_innerbox {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.invoice_details_innerbox div{
  display: flex;
  justify-content: space-between;
}
.invoice_details_innerbox div p{
  width: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer p {
  width: 80%;
  text-align: center;
}
.billing{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.billing p {
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.logo {
  height: 6rem;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.address {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-top: 2rem;
}

.shipping_billing {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

.shipping {
  display: grid;
  grid-template-columns: 1fr 2fr;

width: 21rem;

}
.shipp_ad{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item_details {
  margin-bottom: 20px;
}

.item_details table {
  width: 100%;
  border-collapse: collapse;
}

.item_details th,
.item_details td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.total_details {
  margin-bottom: 20px;
}

.declaration {
  border-top: 1px solid #dddddd;
  padding-top: 20px;
}

.declaration p {
  margin-bottom: 10px;
}

.outer_box{
  position: absolute;
  bottom: 0;
  width: 100%;
}