.header{
    background-color: #ffffff;
     width: 100vw;
     display: flex;
     height: 4rem;
     align-items: center;
     justify-content: space-between;
     padding: 0rem 2rem;
     position:fixed;
     z-index: 1;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
     /* color: white; */
}
.header div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.icon{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.icon2{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.exiticon{
font-size: 5px!important;
}
.hamburgerBtn{
    display: none!important;
}
.title{
    border: 1px red solid;
    height: 2rem;
}
.title img{
    height: 100%;
    width: 100%;
}
@media (max-width:700px){
    .hamburgerBtn{
   display: unset!important;
    }
    .title{
        display: none;
    }
    .icon2{
        display: none;
    }
}