.header {
    background-color: #ffffff;
    width: 100vw;
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: fixed;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.hamburgerBtn {
    display: none;
}

.title {
    height: 2rem;
}

.title img {
    height: 100%;
    width: auto;
}

.rightSection {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logoutButton {
    color: #000;
}

@media (max-width: 700px) {
    .hamburgerBtn {
        display: block;
    }
    
    .title {
        display: none;
    }

    .rightSection {
        display: none;
    }
}
